/*======================================================*/
/*                      COLORS                          */
/*======================================================*/
// Dark colors
@DARK_COLOR_1:      black;

// Mild colors
@MILD_COLOR_1:      yellow;

// Light colors
@LIGHT_COLOR_1:     white;