/**
 * Layout of Gallery page
 */

#gallery-page {
  width: 100%;
}

.gallery-body {
  margin: 20px 40px;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


