/**
 * Style of media card
 */
@import "../variables";

@IMAGE_CARD_HEIGHT:         260px;


.media-card {
  // width is specified in Javascript
  height: @IMAGE_CARD_HEIGHT;

  margin: 5px;
  padding: 2px;

  background: @DARK_COLOR_2 center/140% no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  transition: 0.2s ease-in-out;

  // Scale to larger and display shadow while mouse on
  cursor: pointer;
  &:hover {
    transform: scale(1.02, 1.02);
    box-shadow: 1px 1px 10px 0 @LIGHT_COLOR_2;
  }
}


/**======================================================**/
/**                    Info Banner                       **/
/**======================================================**/
@BANNER_LOGO_SIZE:                  20px;
@BANNER_FONT_SIZE:                  16px;

.info-banner {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  background: @MILD_COLOR_2;
  opacity: 0.4;

  transition: 0.2s;

  &:hover {
    opacity: 1;
  }
}

.info-banner i {
  display: block;

  margin: 5px;

  font-size: @BANNER_LOGO_SIZE;
  color: @LIGHT_COLOR_2;

  transition: 0.4s;

  cursor: pointer;
  &:hover {
    filter: brightness(1.7);
    transform: scale(1.25, 1.25);
  }
}

.info-banner div {
  margin: 3px;
}

.image-likes {
  margin-left: auto !important;
}
