/**
 * Layout arrangement of home page
 */

#homepage {
  display: flex;
  flex-direction: row;
  justify-content: center;

  position: absolute;

  height: 90%;
  width: 100%;
}

#home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100%;
  width: 100%;
}


#logo {
  display: flex;
  justify-content: center;

  height: 40%;

  margin-top: 5em;
  margin-bottom: 5em;
}

#navbar {
  margin-bottom: 2em;
}


